@media screen and (max-width: 1600px){
    #section2 .wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #section2 .description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section2 .img-wrap{
        display: none;
    }
   
}
@media screen and (max-width: 1100px) {
    #section1 #link-wrap {
        flex-direction: column;
        gap: 1px;
        align-items: center;
    }
    #section4{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section4 main{
        width: 80%;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    footer main,
    footer .left-wrap,
    footer .right-wrap {
        width: 100%;
        padding: 100px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .average-wrap {
        width: 80%;
    }
    
    footer .right-wrap {
        flex-direction: row; 
    }
}
@media screen and (max-width: 900px){
    #section4 .add-date-wrap{
        flex-direction: column;
      }
}
@media screen and (max-width: 780px) {
    #section1 #head {
        font-size: 6rem;
    }
    #section3 main {
        justify-content: space-between;
    }
    #section3 .img-wrap {
        padding-right: 0;
      }
    #section4 .foto-name-star-wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #section4 .left-wrap,
    #section4 .right-wrap {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    #section1 menu {
        flex-direction: column;
        gap: 10px;
    }
    #section1 #head {
        font-size: 4rem;
    }
    #section1 .description{
        font-size: 2rem;
    }
    #section5 .description {
        font-size: 38px;
        line-height: 65.57px;
        letter-spacing: 3%;
        color:#fff;
        text-align: center;
      }
}
@media screen and (max-width: 640px) {
    #section1 header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    #section1 menu {
        padding: 0;
        margin-top: 50px;
    }
    #section1 #burger {
        display: none;
    }
}
@media screen and (max-width: 390px) {
    #section1 #head {
        font-size: 3rem;
    }
    #section1 .description{
        font-size: 1.5rem;
    }
    #section1 .btn {
        width: 138px;
        height: 50px;
        background: #000;
        border: 1px solid #fff;
        margin-bottom: 199px;
        font-size: 20px;
        font-family: "Manrope-Bold";
        line-height: 49.18px;
        font-weight: 700;
        color: #fff;
    }
    #section4 .description {
        font-size: 30px;
        text-align: center;
    }
}